<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/js.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xl-2 body">
            </div>
            <div class="col-xl-4 body">
                <div class="blue">
                    <div class="regrow">
                    </div>
                    <div class="regrow">
                    </div>
                    <div class="regrow">
                        <p class="word">12</p>
                    </div>
                    <div class="regrow">
                        <p class="word">Tom Brady</p>
                    </div>
                    <div class="regrow">
                    </div>
                    <div class="regrow">
                        <p class="word2">____________________</p>
                    </div>
                    <div class="regrow">
                    </div>
                    <div class="regrow">
                        <p class="word2">New England</p>
                    </div>
                    <div class="regrow">
                        <p class="word2">Patriots</p>
                    </div>
                    <div class="regrow">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 body">
                <div class="white">
                    <div class="regrowWhite">
                    </div>
                    <div class="regrowWhite">
                    </div>
                    <div class="regrowWhite">
                    </div>
                    <div class="regrowWhite">
                    </div>
                    <div class="regrowWhite">
                        <form class="form-inline my-2 my-lg-0">
                          <input class="form-control mr-sm-2" type="text">
                        </form>
                    </div>
                    <div class="regrowWhite">
                        <form class="form-inline my-2 my-lg-0">
                          <input class="form-control mr-sm-2" type="password" autocomplete="off">
                        </form>
                    </div>
                    <div class="regrowWhite">
                        <button id="loginBtn" type="button" class="btn btn-primary">Login</button>
                    </div>
                    <div class="regrowWhite">
                    </div>
                    <div class="regrowWhite">
                        <ul class="nav">
                          <li class="nav-item">
                            <a class="nav-link blueWord">Forgot password</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link blueWord regLink" onclick="registration();" data-toggle="modal" data-target="#modalAbandonedCart">Registration</a>
                          </li>
                        </ul>
                    </div>
                    <div class="regrowWhite">
                    </div>
                </div>
            </div>
            <div class="col-xl-2 body">

            </div>
        </div>
    </div>

    <!-- Modal: modalAbandonedCart-->
    <div class="modal fade right" id="modalAbandonedCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true" data-backdrop="false">
      <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header probaDiv">
            <p class="heading title">Registration</p>
          </div>

          <!--Body-->
          <div class="modal-body">

            <div class="row">
              <div class="col-12">
                <form class="form-inline my-2 my-lg-0">
                  <p class="titlePos">E-mail address:</p>
                  <input id="regEmail" class="form-control mr-sm-2" type="text">
                </form>
                <form class="form-inline my-2 my-lg-0">
                  <p class="titlePos">Password:</p>
                  <input id="regPwd" class="form-control mr-sm-2" type="password" autocomplete="off">
                </form>
                <form class="form-inline my-2 my-lg-0">
                  <p class="titlePos">First Name:</p>
                  <input id="regFn" class="form-control mr-sm-2" type="text">
                </form>
                <form class="form-inline my-2 my-lg-0">
                  <p class="titlePos">Last Name:</p>
                  <input id="regLn" class="form-control mr-sm-2" type="text">
                </form>
              </div>
            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center probaDiv">
            <a type="button" id="registrationBtn" class="btn btn-primary">Registration</a>
            <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Cancel</a>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!-- Modal: modalAbandonedCart-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

